* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
  background: #f5f5fb;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aside {
  background: #ffffff;
  width: 100%;
  max-width: 313px;
  padding: 45px 25px 25px 65px;
  overflow-y: auto;
}

.aside__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.aside .menu {
  margin-bottom: 60px;
}

.aside .menu__item {
  position: relative;
  width: 100%;
  max-width: 225px;
  padding: 10px 0;
}

.aside .menu__item:hover .menu__link {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #111026;
}

.aside .menu__item:hover .menu__icon svg {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #5e81f4;
}

.aside .menu__item:before {
  position: absolute;
  content: "";
  top: 20px;
  right: -25px;
  width: 3px;
  height: 0;
  border-radius: 50%;
  background: transparent;
  border-radius: 10px;
}

.aside .menu__item:hover:before {
  height: 23px;
  background: #5e81f4;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.aside .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #a2a2c2;
  padding: 10px 0;
}

.aside .menu__icon {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 42px;
}

.aside .menu__icon svg {
  fill: #a2a2c2;
}

.logo {
  width: 100%;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: #111026;
  margin-bottom: 10px;
  padding-right: 20px;
}

.logo__img {
  margin: 0 10px 0 0;
}

.upgrade-item {
  background: #f5f5fb;
  border-radius: 17px;
  width: 100%;
  max-width: 220px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 0 30px 30px 30px;
}

.upgrade-item__img {
  position: relative;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
}

.upgrade-item__desc {
  font-size: 16px;
  line-height: 24px;
  color: #a2a2c2;
  margin: 0 0 30px 0;
}

.upgrade-item__desc strong {
  color: #111026;
}

.upgrade-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 165px;
  min-height: 50px;
  padding: 8px;
  background: #5e81f4;
  border-radius: 14px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #fefefe;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.upgrade-item__link:hover {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.menu__icon {
  position: relative;
}

.message-number {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 10px;
  padding: 0 3px;
  min-width: 17px;
  height: 17px;
  border-radius: 10px;
  background: #ff808b;
  border: 1px solid #fefefe;
  font-weight: 600;
  font-size: 12px;
  color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  position: relative;
}

.icon-menu {
  position: absolute;
  width: 47px;
  height: 47px;
  cursor: pointer;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  background-color: #a2a2c2;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu span.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu span.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu span.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.profile {
  width: 100%;
  max-width: 487px;
  height: 100%;
  background: #fefefe;
  padding: 45px 90px 25px 45px;
}

.profile__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 55px;
}

.logout__label {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
}

.logout__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 50px;
  height: 50px;
}

.logout__link svg {
  fill: #a2a2c2;
}

.logout__link svg:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #5e81f4;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.info__avatar {
  position: relative;
  width: 170px;
  height: 170px;
  border: 7px solid #f5f5fb;
  border-radius: 50%;
  margin-bottom: 30px;
}

.info__avatar img {
  width: 156px;
  height: 156px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 50%;
}

.info__btn {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #5e81f4;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  color: #fefefe;
  bottom: 0;
  right: 10px;
  z-index: 2;
}

.info__btn:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #87a1f7;
}

.info__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #111026;
  margin-bottom: 12px;
}

.info__status {
  font-size: 16px;
  line-height: 24px;
  color: #a2a2c2;
}

.knowledges__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  min-height: 54px;
}

.knowledges__level {
  width: 100%;
  max-width: 54px;
  height: 54px;
  background: #f5f5f7;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #111026;
  margin-right: 20px;
}

.knowledges__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 54px;
}

.knowledges__desc-label {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #111026;
}

.knowledges__desc-level {
  font-size: 14px;
  line-height: 21px;
  color: #a2a2c2;
}

.knowledges__progressbar {
  position: relative;
  width: 111px;
  height: 5px;
  background: #dcdce5;
  border-radius: 5px;
}

.knowledges__progressbar span {
  position: absolute;
  content: "";
  height: 6px;
  background: #5e81f4;
  border-radius: 5px;
  z-index: 2;
}

.reminders__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 55px;
}

.reminders__label {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
}

.reminders__icon {
  width: 22px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reminders__icon svg {
  fill: #a2a2c2;
}

.reminders__icon svg:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #5e81f4;
}

.reminders__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reminders__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.reminders__block {
  width: 100%;
  max-width: 54px;
  height: 54px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin-right: 20px;
}

.reminders__block--test {
  background: #fef2f3;
}

.reminders__block--test svg {
  fill: #ff606d;
}

.reminders__block--mail {
  background: #eef2fd;
}

.reminders__block--mail svg {
  fill: #6083f4;
}

.reminders__tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 54px;
}

.reminders__tasks-label {
  font-size: 16px;
  line-height: 24px;
  color: #131336;
}

.reminders__tasks-date {
  font-size: 14px;
  line-height: 21px;
  color: #a2a2c2;
}

.profile-open {
  display: none;
}

.content {
  padding: 45px 50px 25px 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.content-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 55px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 15px;
}

.content-head__date {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #111026;
  margin-right: 30px;
}

.content-head .search {
  width: 53px;
  height: 54px;
  background: #e5e9fa;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 18px;
}

.content-head .search:hover {
  width: 160px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.content-head .search__icon {
  position: relative;
  width: 18px;
  height: 18px;
}

.content-head .search__icon svg {
  fill: #5e81f4;
}

.content-head .search__form {
  position: absolute;
  content: "";
  top: -5px;
  right: 20px;
  border-bottom: 1px solid #9db4ff;
  width: 0;
  overflow: hidden;
}

.content-head .search__form-input {
  outline: none;
  width: 150px;
  height: auto;
  background: transparent;
  padding: 0 5px;
}

.search:hover .search__form {
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  width: 110px;
}

.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 210px;
  height: auto;
  margin-bottom: 15px;
  background: #f7e5e9;
  border-radius: 17px;
  padding: 15px 21% 15px 7.5%;
}

.banner__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__desc-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: #ff808b;
  margin-bottom: 27px;
}

.banner__desc-text {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.banner__img {
  position: absolute;
  right: 25%;
  bottom: 5px;
}

.chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.chart__item {
  background: #fdfdfe;
  border-radius: 17px;
  padding: 32px 32px 15px 32px;
}

.chart__results {
  width: 40%;
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart__time {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-bottom: 18px;
}

.chart__label {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #111026;
}

.chart__link {
  font-size: 16px;
  line-height: 24px;
  color: #111026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart__link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  margin-left: 20px;
}

.chart__results-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.chart__results-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.chart__results-item:not(:first-child) {
  border-top: 1px solid #000000;
}

.chart__results-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a2a2c2;
  width: 100%;
  max-width: 165px;
  height: auto;
}

.chart__results-label span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #111026;
}

.chart__results-progressbar {
  width: 92px;
  height: 5px;
  background: #dcdce5;
  border-radius: 5px;
  position: relative;
  margin: 0 8px;
}

.chart__results-progressbar span {
  position: absolute;
  content: "";
  background: #5e81f4;
  border-radius: 5px;
  height: 5px;
  top: 0;
  left: 0;
}

.chart__time-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0;
}

.chart__time-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14.2%;
          flex: 0 1 14.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.chart__time-day {
  font-size: 14px;
  line-height: 21px;
  color: #a2a2c2;
  margin-bottom: 28px;
}

.chart__time-progressbar {
  position: relative;
  width: 5px;
  height: 196px;
  background: #dcdce5;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.chart__time-progressbar span {
  position: absolute;
  content: "";
  width: 5px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
}

.chart__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chart__legend-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #a2a2c2;
  margin-right: 5px;
}

.chart__legend-item span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.course__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #111026;
  margin-bottom: 35px;
}

.course__link {
  font-size: 16px;
  line-height: 24px;
  color: #111026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course__link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  margin-left: 20px;
}

.course__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course__item {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  min-height: 105px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 13px 23px 23px;
}

.course__item:not(:last-child) {
  margin-right: 20px;
}

.course__item--grammar {
  background: #4d4cac;
}

.course__item--phrasal {
  background: #9698d6;
}

.course__item--vocabulary {
  background: #ff808b;
}

.course-item__block {
  width: 100%;
  max-width: 60px;
  height: 60px;
  border-radius: 12px;
  background: rgba(254, 254, 254, 0.15);
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 17px;
}

.course-item__desc {
  width: 100%;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-item__title {
  font-size: 14px;
  line-height: 21px;
  color: #fefefe;
  opacity: 0.8;
}

.course-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #fefefe;
}

.course-item__link-icon {
  width: 26px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.course-item__link-icon svg {
  fill: rgba(255, 255, 255, 0.8);
}

.chart__number--color {
  color: #ff808b;
}

.chart__results .chart__link:hover,
.course__link:hover {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #5e81f4;
}

.chart__results .chart__link:hover .chart__link-icon,
.course__link:hover .course__link-icon {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-left: 10px;
}

.chart__link:hover .chart__link-icon svg,
.course__link:hover .course__link-icon svg {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  fill: #5e81f4;
}

.chart__time .chart__link-icon:hover {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.chart__time .chart__link:hover .chart__link-icon svg {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  fill: #5e81f4;
}

.course-item:hover .course-item__link-icon {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 8px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: -webkit-backdrop-filter 0.5s ease-in-out;
  transition: -webkit-backdrop-filter 0.5s ease-in-out;
  -o-transition: backdrop-filter 0.5s ease-in-out;
  transition: backdrop-filter 0.5s ease-in-out;
  transition: backdrop-filter 0.5s ease-in-out, -webkit-backdrop-filter 0.5s ease-in-out;
}

@media (max-width: 1960px) {
  .profile {
    width: 100%;
    max-width: 370px;
    height: 100%;
    background: #fefefe;
    padding: 45px 25px 25px 25px;
    overflow-y: auto;
  }
}

@media (max-width: 1630px) {
  .aside {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 60px;
    padding: 25px 0;
  }

  .icon-menu.active {
    position: absolute;
    width: 40px;
    height: 35px;
    top: 35px;
    left: 10px;
    z-index: 5;
    cursor: pointer;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  }

  .icon-menu.active span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 2.5px;
    background-color: #a2a2c2;
  }

  .icon-menu.active span:first-child {
    top: 0px;
  }

  .icon-menu.active span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active span.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .aside.active {
    -webkit-transition: max-width 0.3s ease-in-out;
    -o-transition: max-width 0.3s ease-in-out;
    transition: max-width 0.3s ease-in-out;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 220px;
    padding: 25px 15px 25px 15px;
  }

  .aside.active .logo {
    margin-bottom: 50px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
  }

  .aside.active .logo span {
    opacity: 1;
    overflow: visible;
    pointer-events: all;
  }

  .aside.active .icon-menu {
    visibility: hidden;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .aside.active .logo__img {
    margin: 0 10px 0 0;
    overflow: visible;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .aside.active .upgrade-item {
    opacity: 1;
    overflow: visible;
    pointer-events: all;
  }

  .aside.active .menu__icon {
    margin-right: 20px;
  }

  .aside.active .menu__link span {
    opacity: 1;
    overflow: visible;
    pointer-events: all;
    width: 100%;
  }

  .aside__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .aside .menu__item {
    position: relative;
    width: 100%;
    max-width: 225px;
    padding: 10px 0 10px 0;
  }

  .logo {
    margin-bottom: 50px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }

  .logo span {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    width: 0;
  }

  .logo__img {
    margin: 0 10px 0 0;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
  }

  .icon-menu {
    position: absolute;
    width: 40px;
    height: 35px;
    top: 35px;
    left: 10px;
    z-index: 5;
    cursor: pointer;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 2.5px;
    background-color: #a2a2c2;
  }

  .icon-menu span:first-child {
    top: 3px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu span.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu span.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu span.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .upgrade-item {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
  }

  .menu__link {
    max-height: 45px;
  }

  .menu__link span {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    width: 0;
  }

  .aside .menu__icon {
    margin: 0 auto;
  }

  .aside .menu__item:before {
    position: absolute;
    content: "";
    top: 17px;
    right: -15px;
    width: 3px;
    height: 0;
    background: transparent;
    border-radius: 10%;
  }

  .aside .menu__item:hover:before {
    height: 35px;
    background: #5e81f4;
    border-radius: 10%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .profile-open.active {
    display: none;
  }

  .profile.active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: #fefefe;
    padding: 25px 15px 25px 15px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  }

  .profile.active__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .profile.active .logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 55px;
  }

  .profile.active .logout__label {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
  }

  .profile.active .logout__link {
    width: 45px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .profile.active .logout__link svg {
    fill: #a2a2c2;
  }

  .profile.active .logout__link svg:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    fill: #5e81f4;
  }

  .profile.active .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }

  .profile.active .info__avatar {
    position: relative;
    width: 170px;
    height: 170px;
    border: 7px solid #f5f5fb;
    border-radius: 50%;
    margin-bottom: 30px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .profile.active .info__avatar img {
    width: 156px;
    height: 156px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    border-radius: 50%;
  }

  .profile.active .info__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #111026;
    margin-bottom: 12px;
  }

  .profile.active .info__status {
    font-size: 16px;
    line-height: 24px;
    color: #a2a2c2;
  }

  .profile.active .logout__label,
  .profile.active .info__btn,
  .profile.active .info__status,
  .profile.active .profile__knowledges.knowledges,
  .profile.active .reminders__label,
  .profile.active .reminders__items {
    opacity: 1;
    overflow: visible;
    visibility: visible;
    pointer-events: all;
    display: block;
  }

  .profile.active .reminders__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 55px;
  }

  .profile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 5;
    margin-left: 20px;
    padding: 25px 2px 15px 2px;
    max-width: 60px;
  }

  .profile__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
  }

  .profile-open {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50px;
    min-height: 30px;
    background: #9698d6;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .profile-open svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    fill: #fff;
  }

  .logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 55px;
  }

  .logout__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info {
    margin: 0;
  }

  .info__avatar {
    -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
            transform: scale(0.3);
    margin: 0;
    height: 90px;
    border: none;
  }

  .info__name {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #111026;
    margin-bottom: 12px;
    text-align: center;
  }

  .logout__label,
  .info__btn,
  .info__status,
  .profile__knowledges.knowledges,
  .reminders__label,
  .reminders__items {
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    display: none;
  }

  .reminders__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 55px;
  }

  .content {
    padding: 25px 80px;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

@media (max-width: 1050px) {
  .content-head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 55px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-bottom: 55px;
  }

  .banner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-height: 210px;
    height: auto;
    margin-bottom: 15px;
    background: #f7e5e9;
    border-radius: 17px;
    padding: 15px 200px 15px 7.5%;
  }

  .banner__img {
    position: absolute;
    right: 4%;
    bottom: 5px;
  }

  .chart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px;
  }

  .chart__item {
    width: 100%;
    background: #fdfdfe;
    border-radius: 17px;
    padding: 32px 32px 15px 32px;
  }

  .chart__time {
    margin-bottom: 15px;
  }

  .chart__results-progressbar {
    width: 50%;
  }

  .course__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .course__item {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-height: 105px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 23px 13px 23px 23px;
  }

  .course__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .content-head {
    margin-bottom: 25px;
  }

  .banner {
    padding: 15px 130px 15px 7.5%;
  }

  .banner__desc-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #ff808b;
    margin-bottom: 15px;
  }

  .banner__desc-text {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

  .banner__img {
    bottom: 25px;
  }

  .banner__img img {
    width: 130px;
    height: auto;
  }
}

@media (max-width: 635px) {
  .content-head__date {
    display: none;
  }

  .banner {
    padding: 15px;
  }

  .banner__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .banner__img {
    display: none;
  }

  .chart__item {
    background: #fdfdfe;
    border-radius: 17px;
    padding: 15px;
  }

  .chart__label {
    font-size: 14px;
  }

  .chart__link {
    font-size: 14px;
  }

  .chart__legend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .chart__legend-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 21px;
    color: #a2a2c2;
    margin-right: 5px;
  }
}

@media (max-width: 500px) {
  .chart__results-label {
    font-size: 12px;
  }

  .chart__results-label span,
  .chart__results-number {
    font-size: 14px;
  }

  .chart__link {
    font-size: 12px;
    line-height: 14px;
    text-align: end;
  }

  .chart__label {
    font-size: 12px;
    line-height: 16px;
  }

  .chart__link-icon {
    margin-left: 5px;
  }

  .chart__legend-item {
    margin-right: 0;
  }

  .chart__time-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 5%;
            flex: 0 1 5%;
  }

  .chart__time-items {
    margin: 5px 0;
  }

  .chart__legend-item {
    font-size: 11px;
  }

  .chart__head {
    margin-bottom: 5px;
  }

  .chart__legend-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 21px;
    color: #a2a2c2;
    margin-right: 5px;
  }

  .chart__time-day {
    font-size: 10px;
    line-height: 21px;
    color: #a2a2c2;
    margin-bottom: 5px;
  }

  .course__item {
    padding: 12px;
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .course-item__block {
    width: 100%;
    max-width: 100%;
    height: 50px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .course-item__title {
    font-size: 12px;
    text-align: center;
  }

  .course-item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fefefe;
  }
}

@media (max-width: 425px) {
  .profile.active {
    max-width: 246px;
  }

  .profile.active .knowledges__desc-label {
    font-size: 14px;
    line-height: 20px;
  }

  .profile.active .knowledges__desc-level {
    font-size: 12px;
    line-height: 18px;
  }

  .profile.active .knowledges__level {
    width: 100%;
    max-width: 40px;
    margin-right: 12px;
  }

  .profile.active .reminders__tasks-label {
    font-size: 12px;
    line-height: 20px;
  }

  .profile.active .reminders__tasks-date {
    font-size: 12px;
    line-height: 18px;
  }

  .profile.active .reminders__block {
    max-width: 40px;
    margin-right: 12px;
  }

  .content {
    padding: 25px 80px;
  }

  .banner__desc-title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .banner__desc-text {
    font-size: 12px;
    line-height: 20px;
  }

  .chart__results-label {
    font-size: 10px;
  }

  .chart__results-label span,
  .chart__results-number {
    font-size: 12px;
  }

  .course__label {
    font-size: 12px;
  }

  .chart__link-icon {
    margin-left: 12px;
  }

  .course__link {
    font-size: 12px;
  }

  .course__link-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }
}